.img_roulant_container {
    position: relative;
    margin: 50px auto;
    width: 800px;
    height: 534px;
    background-color: aqua;
    overflow: hidden;
}
.arrow_l,.arrow_r {
    display: block;
    position: absolute;
    top: 235px;
    width: 30px;
    height: 60px;
    background-color: rgba(126, 122, 122, 0.5);
    text-align: center;
    line-height: 60px;
    color:white;
    font-size:x-large;
    border-radius: 5px;
    text-decoration: none;
}
.arrow_r {
    left: 770px;
}
.arrow_l:hover {
    background-color: rgba(39, 38, 38, 0.8);
    color:white
}
.arrow_r:hover {
    background-color: rgba(39, 38, 38, 0.8);
    color:white
}
.img_roulant_container ul {
    position:absolute;
    width: 700%;
}
.img_roulant_container ul li {
    float: left;
}
.img_roulant_container img {
    width: 800px;
    height: 534px;
    
}
.circle {
    position: absolute;
    bottom: 10px;
    left: 130px;
}
.circle li {
    float: left;
   
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    border: .1px solid black;
    /* background-color: transparent; */
}
.current_circle {
    background-color: black;
}
body {
    background: url('static/imgs/bg.jpg');
}