<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compte panier</title>
</head>
<body>

    
    <table>
        <thead>
            <th>produit</th>
            <th>qty</th>
        </thead>
        <tbody>
            {% for k, v in liste.items %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>