{% extends "layout.html" %}
{% block title %}
Compte Info
{% endblock %}
{% block content %}
<div class="userinfo w">
    <div class="profile">
        <dl>
            <dt>Nom d'utilisateur':</dt><dd>{{ profile.nomCompte }}</dd>
            <dt>Nom:</dt><dd>{{ profile.nom }}</dd>
            <dt>Prénom:</dt><dd>{{ profile.prenom }}</dd>
            <dt>Numéro de téléphone:</dt><dd>{{ profile.telephone }}</dd>
            <dt>Courriel:</dt><dd>{{ profile.courriel }}</dd>
            <dt>Date de naissance:</dt><dd>{{ profile.dateNaissance }}</dd>
            <dt>Sexe:</dt><dd>{{ profile.get_gender_display}}</dd>
            <button><a href="/compte/modifier/">Modifier</a></button>
        </dl>
    </div>
    <div class="adresses ">
        {% for a in adresses %}
        <div class="adresse">
            <ul>
                <li>{{ a.adresse }}</li>
                <li>{{ a.ville }}, {{ a.codePostale }}, {{ a.get_province_display }}</li>
                <button><a href="/adresse/{{ a.id }}/modifier/">Modifier</a></button>
                <a href="/adresse/{{ a.id }}/delete/">Supprimer</a>
            </ul>
        </div>
        {% endfor %}
        <div class="adresseajouter">
            <button><a href="/adresse/creer/">+</a></button>
        </div>
    </div>
    
</div>
{% endblock %}