{% extends "layout.html" %}
{% block title %}
Compte Modifier
{% endblock %}
{% block content %}
<div class="compte_creer w">
    <fieldset>
        <legend>Inscription</legend>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div >
               <label >{{field.label}}</label>
                {{field}}
                <span style="color: red;">{{field.errors.0}}</span>
              </div>
              {% endfor %} 
              <button type="submit" class="btn">Confirmer</button>
          </form>
    </fieldset>
    

</div>
<!-- <div >
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div >
           <label for="">{{field.label}}</label>
            {{field}}
            <span style="color: red;">{{field.errors.0}}</span>
          </div>
          {% endfor %} 
          <button type="submit" >confirmer</button>
      </form>
</div> -->
{% endblock %}