{% extends "layout.html" %}
{% block title %}
compte panier
{% endblock %}
{% block content %}
{% if liste %}
<div class="w">
    <div class="left">
        <table >
            <thead>
                <th colspan="2">Produit</th>
                <th>Quantité</th>
                <th>prix unitaire</th>
                <th>Total</th>
                <th>Modifier</th>
            </thead>
            
            <tbody>
                <form action="" method="post">
                {% csrf_token %}
                {% for line in liste %}
                <tr>
                    <td>{{ line.0 }}</td>
                    <td>{{ line.1 }}</td>
                    <td><input type="number" value="{{ line.2 }}" name="{{ line.1 }}"></td>
                    <td>{{ line.3 }}</td>
                    <td>{{ line.4 }}</td>
                    <td><a href="/linge_panier/{{ line.5 }}/delete/">Supprimer</a></td>
                </tr>
                {% endfor %}
               <tr>
                <th colspan="2"><input type="submit" value="confirmer"></th>
               </tr>
            </tbody>
            </form>
        </table>
    </div>
    <div class="right">
        <button><a href="/compte/commander/" >Aller à la caisse</a></button>
    </div>
    {% else %}
    <h1 class="w">Votre panier est vide!! </h1>
    {% endif %}
</div>


{% endblock %}

