{% extends "layout.html" %}
{% block title %}
Se Connecter
{% endblock %}
{% block content %}
<div class="compte_creer w">
    <fieldset>
        <legend>Connectez-vous</legend>
        <form method="post" novalidate>
            {% csrf_token %}
            <div >
                <label >Nom du compte / Téléphone / Courriel</label><br>
                 <input type="text" name ="data_login"><br>
                 <label >Mot de passe</label><br>
                 <input type="password" name="pwd" id=""><br>
                 <span style="color: red;">{{ msg_error}}</span>
               </div>
               <!-- <div class="form-group">
                <label for="id_code">图片验证码</label>
                <div class="row">
                    <div class="col-xs-7">
                        {{ form.code }}
                        <span style="color: red;">{{ form.code.errors.0 }}</span>
                    </div>
                    <div class="col-xs-5">
                        <img id="image_code" src="/image/code/" style="width: 125px;">
                    </div>
                </div>
            </div> -->
              <button type="submit" class="btn">continuer</button>
          </form>
    </fieldset>
    <div class="compte_creer"><h2><a href="/compte/creer/">Créer un compte</a></h2></div>

</div>
{% endblock %}

</body>
</html>