{% extends "layout.html" %}
{% block title %}
Histoire des commandes
{% endblock %}
{% block content %}
<div class="w">

       
    <div class="commandes ">
        {% for commande in commandes %}
        <div class="commande" id="c{{ commande.4 }}">
            <div class="commande_resume">
                <ul>
                    <li>Date commande: {{ commande.0}}</li>
                    <li>Adresse: {{ commande.1 }}</li>
                    <li>Montant total: {{ commande.2 }}$</li>
                </ul>
                <h3><a href="/commande/{{ commande.4 }}/recommande/">Acheter de nouveau</a></h3>
            </div>
            <div class="commande_detail">
                {{ commande.5 }}
                <table style="text-align: right;">
                    <tr>
                        <td>Produit</td>
                        <td>Prix</td>
                        <td>Quantité</td>
                    </tr>
                    <tbody>
                    {% for ligne in commande.3 %}
                    <tr>
                        <td>{{ ligne.produit }}</td>
                        <td>{{ ligne.prixUnitair }}$</td>
                        <td>{{ ligne.quantite }}</td>
                    </tr>
                    {% endfor %}
                    
                    </tbody >
                </table>
                
            </div>
        </div>
        {% endfor %}
       
    </div>
    <ul class="pagination" style="margin-left: 300px;">
        {{ page_string }}
    </ul>
</div>
<script src="/static/js/compte_histoire.js"></script>

{% endblock %}