{% extends "layout.html" %}
{% block title %}
Se Connecter
{% endblock %}
{% block content %}
<div class="compte_creer w">
    <fieldset>
        <legend>Connectez-vous</legend>
        <form method="post" novalidate>
            {% csrf_token %}
            <div >
                <label >Nom du compte / Téléphone / Courriel</label><br>
                 <input type="text" name ="data_login"><br>
                 <label >Mot de passe</label><br>
                 <input type="password" name="pwd" id=""><br>
                 <span style="color: red;">{{ msg_error}}</span>
               </div>
            
              <button type="submit" class="btn">CREER</button>
          </form>
    </fieldset>
    <div class="compte_creer"><h2><a href="/compte/creer/">Créer un compte</a></h2></div>

</div>
{% endblock %}

</body>
</html>