{% extends "layout.html" %}
{% block title %}
Amazonneuve
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/home.css">
<div class="w">
    <div class="img_roulant_container">
        <ul>
            <li>
                <a href="/compte/shopping/?type=fruit_legume"><img  src="/static/imgs/legume.jpg"></a>
            </li>
            <li>
                <a href="/compte/shopping/?type=viande"><img  src="/static/imgs/viande.jpg"></a>
            </li>
            <li>
                <a href="/compte/shopping/?type=laitier_et_oeufs"><img  src="/static/imgs/milk.jpg"></a>
            </li>
            <li>
                <a href="/compte/shopping/?type=pain"><img  src="/static/imgs/boulangerie.jpg"></a>
            </li>
            <li>
                <a href="/compte/shopping/?type=surgeles"><img  src="/static/imgs/surgele.jpg"></a>
            </li>
            <li>
                <a href="/recette/?r=0"><img  src="/static/imgs/recette.jpg"></a>
            </li>
        </ul>
        <a href="javascript:;" class="arrow_l">&lt;</a>
        <a href="javascript:;" class="arrow_r">&gt;</a>
        <ol class="circle"></ol>
    </div>
</div>
<script src="/static/js/home.js"></script>
{% endblock %}
