<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://market.enonic.com/vendors/
    bouvet/favicon/_/attachment/inline/dd170092-656a-4895-8550-daac0c4b0aa0:2df7625
    fb6fd508cb0874730d8f812d52670aff1/favicon_cleaned.svg" >
    <title>Amazonneuve</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        div.nav {
            height: 50px;
            background-color:rgba(80, 80, 80, 0.5);

        }
        .connecter a{
            float: right;
            height: 50px;
            line-height: 50px;
            /* width: 100px; */
            font-size: 30px;
            text-decoration: none;
            color: white;
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <div class="nav">
        <span class="panier">
            panier
        </span>
        <!-- <span class="connecter">{{ nom }}</span> -->
        <span class="connecter"><a href="compte/login/">se connecter</a></span>

    </div>
    <h1>Bienvenue</h1>
    <!-- <h1><a href="compte/liste/">liste compte</a></h1> -->

</body>
</html>