{% extends "layout.html" %}
{% block title %}
Amazonneuve
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/home.css">
<div class="w">
    <div class="img_roulant_container">
        <ul>
            <li>
                <a href="#"><img  src="/static/imgs/recette1.jpg"></a>
            </li>
            <li>
                <a href="#"><img  src="/static/imgs/recette2.jpg"></a>
            </li>
            <li>
                <a href="#"><img  src="/static/imgs/recette3.jpg"></a>
            </li>
            <li>
                <a href="#"><img  src="/static/imgs/recette4.jpg"></a>
            </li>
            
        </ul>
        <a href="javascript:;" class="arrow_l">&lt;</a>
        <a href="javascript:;" class="arrow_r">&gt;</a>
        <ol class="circle"></ol>
    </div>
</div>
<script src="/static/js/home.js"></script>
{% endblock %}
