<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire Liste</title>
</head>
<body>
    <h1>Inventaire Liste</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Produit</th>
            <th>Quantite en stock</th>
            <th>Date péremption</th>
            <th>Numéro de lot</th>
            <th>Modifier</th>
        </thead>
        <tbody>
            {% for obj in liste %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.idProduit }}</td>
                <td>{{ obj.inventaire }}</td>
                <td>{{ obj.dateLimite }}</td>
                <td>{{ obj.numLot }}</td>
                <td>
                    <a href="/inventaire/{{ obj.id }}/delete/">delete</a>
                    <a href="/inventaire/{{ obj.id }}/edit/">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>