<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit Liste</title>
</head>
<body>
    <h1>Produit Liste</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>type</th>
            <th>nomProduit</th>
            <th>PrixUnitaire</th>
            <th>photo</th>
            <th>modifier</th>
        </thead>
        <tbody>
            {% for produit in listeProduit %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.typeProduit }}</td>
                <td>{{ produit.nomProduit }} </td>
                <td>{{ produit.prixUnitair }} </td>
                <td><img src= '{{ produit.lienPhoto }}' alt="photo indisponible" style="width:50px;height:50px;"></td>
                <td>
                    <!-- <a href="/produit/{{ produit.id }}/delete/">delete</a> -->
                    <a href="/produit/{{ produit.id }}/edit/">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>