{% extends "layout.html" %}
{% block title %}
Recette
{% endblock %}
{% block content %}
<div class="recette w">
    <div class="up">
        <div class="video">
            <script src="https://www.youtube.com/iframe_api"></script>
            <div id="player"></div>
            <script>
                let video_choix = document.querySelector("#recettes");

                var player;
                function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  height: '450',
                  width: '800',
                //   videoId: video_choix,
                  videoId: "{{recette.video_id}}",
                  events: {
                    'onReady': onPlayerReady,
                    // 'onStateChange': onPlayerStateChange
                  }
                });
                }
                // 4. The API will call this function when the video player is ready.
                function onPlayerReady(event) {
                event.target.playVideo();
                }
                // video_choix.addEventListener('change', function(){
                // player.loadVideoById(video_choix.value, 1, "large")
                // onPlayerReady()
                // }
                // )
            </script>
        </div>
        <div class="autre">
          <table>
            <tr>
              <td><a href="?r=0"><img src="/static/imgs/gratin-dauphinois.jpeg" alt="" name="gratin-dauphinois.jpeg"></a></td>
              <td><a href="?r=1"><img src="/static/imgs/rigatoni-cacio-e-pepe.jpeg" alt=""></a></td>
            </tr>
            <tr>
              <td> <a href="?r=2"><img src="/static/imgs/oeuf-cocotte.jpeg" alt=""></a></td>
              <td><a href="?r=3"><img src="/static/imgs/mousse-au-chocolat.jpeg" alt=""></a></td>
            </tr>
          </table>
        </div>
        <h1 class="titre">
            {{ recette.nom }}
        </h1>
    </div>
    <div class="down">
        <div class="ingredients">
          <table>
          
            <thead>
                <th colspan="2">produit</th>
                <th>qty</th>
            </thead>
            
            <tbody>
                
                
                {% for line in liste_ingredients %}
                <tr>
                  <td><img src="{{ line.lienPhoto }}" alt=""></td>
                  <td>{{ line }}</td>
                  <form action="" method="post">
                    {% csrf_token %}
                    <td><input type="number" value=1 name="{{ line.id }}"></td>
                    <td>
                      <button class="btn_acheter" type="submit">
                        <img class="img_char" src="/static/imgs/chario.png">
                      </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
        <div class="preparation">
          {{recette.preparation}}
        </div>
    </div>
</div>
{% endblock %}