{% extends "layout.html" %}
{% block title %}
Commander en ligne
{% endblock %}
{% block content %}
<div class="w">
    <div class="produit_type">
        <ul>
            <li><a href="/compte/shopping/">Tous les produits</a></li>
            <li><a href="?type=fruit_legume">Fruits et légumes</a></li>
            <li><a href="?type=pain">Pain</a></li>
            <li><a href="?type=laitier_et_oeufs">Produits laitiers et oeufs</a></li>
            <li><a href="?type=surgeles">Surgelés</a></li>
            <li><a href="?type=viande">Viande</a></li>
            <li><a href="?type=autres">Autres</a></li>
            <li><h4>Tu ne sais pas quoi manger?</h4></li>
            <br><li><a href="/recette/?r=0">Gratin Dauphinois</a></li>
            <li><a href="/recette/?r=1">Rigatoni cacio e pepe</a></li>
            <li><a href="/recette/?r=2">Oeuf cocotte</a></li>
            <li><a href="/recette/?r=3">Mousse au chocolat</a></li>
        </ul>
    </div>
    
    <div class="shop">
        <div class="search">
            <form method="get">
            <input type="text" value="{{ nomProduit }}" placeholder="Recherche..." name="nomProduit">
            <button type="submit"><img src="/static/imgs/btn.png" alt=""></button>
            </form>
        </div>
        {% for obj in liste %}
        <div class="produit">
            <img src="{{ obj.lienPhoto}}" alt="">
            <h5>{{ obj.nomProduit }}</h5>
            <h4>${{ obj.prixUnitair }}</h4>
            <form action="" method="post">
                {% csrf_token %}   
            <input type="number" min="0" name="{{ obj.id}}" value="0" required="required">
            <button class="btn_acheter" type="submit">
                <img class="img_char" src="/static/imgs/chario.png">
            </button>
            </form>
        </div>
        {% endfor %}
        <br>
        
    </div>
    <ul class="pagination" style="margin-left: 300px;">
        {{ page_string }}
    </ul>
</div>

{% endblock %}
